<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.freedom.boot.dao.AdminMapper">
 
  <select id="selectByUserName" resultType="org.freedom.boot.bean.Admin">
    select 
    *
    from tbl_admin
    where username = #{username}
  </select>
  
  <select id="selectAdminRolesByAdminId" resultType="org.freedom.boot.bean.Role">
     select tbl_role.role_id,tbl_role.name,tbl_role.name_zh
      from tbl_role
      join
      tbl_admin_role 
      on tbl_role.role_id=tbl_admin_role.role_id 
      where tbl_admin_role.admin_id=#{id} 
  </select>
 
 
</mapper>